// settings to run diamond/blast
  manifest {
    name = 'nf-blast'
    author = 'Ido Bar'
    description = 'A Nextflow pipeline for distributed and scalable taxonomy-aware homology searches using BLAST or DIAMOND'
    mainScript = 'nf-blast.nf'
    nextflowVersion = '>=21.04.1'
    version = '0.5'
  }

  env {
        BLASTDB = "/scratch/project/adna/tools/ncbi_db"
      }

  params {
        tracedir = "pipeline_info"
        help = false
        outDir = "results"
        query = ""
        db = "${env.BLASTDB}/nt"
        taxDbDir = ""
        taxListFile = "$projectDir/assets/NO_FILE"
        out = ""
        headers = false
        download = false
        // taxDbDir = "${env.BLASTDB}"
        // chunkSize = "250.KB"
        chunkSize = 250
        outCols = "std"
        // outfmtString = "6 std"
        // evalue = "1e-10"
        // targetSeqs = 50
        app = 'blastn'
        blastOpts = '-evalue 1e-10 -max_target_seqs 20'
        dmndOpts = '-e 1e-10 -k 20'
      }


  profiles {
        
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        // singularity.runOptions = "-B ${db_dir}"
    }

    apptainer {
      apptainer {
        enabled = true
        autoMounts = true
        // runOptions = "-B ${db_dir}"
      }
    }

    conda {
        // process.conda = 'blast diamond'
        conda.enabled = true
        conda.useMamba = true
    }
    blastn_tax {
      params {
            db = "${env.BLASTDB}/nt"
            outCols = "std stitle staxids sscinames scomnames sskingdoms"
            app = 'blastn'
        }
    }
    blastp_tax {
      params {
            db = "${env.BLASTDB}/nr"
            outCols = "std stitle staxids sscinames scomnames sskingdoms"
            // outfmtString = "6 std stitle staxids sscinames scomnames sskingdoms"
            app = 'blastp'
        }
    }
    diamond_tax {
      params {
            db = "${env.BLASTDB}/nr"
            app = "diamond blastp"
            outCols = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore stitle staxids sscinames skingdoms sphylums"
            // outfmtString = "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore stitle staxids sscinames skingdoms sphylums"
        }
    }
    test {
        params {
            query = "${projectDir}/test/test.fa"
            db = "${projectDir}/test/test_nt"
           // p out = "test.blastn.nt.outfmt6"
            outDir = "blastn-test"
            chunkSize = 10
            outCols = "std"
            app = 'blastn'
        }
    }
    test_tax {
        params {
            query = "${projectDir}/test/test.fa"
            db = "${projectDir}/test/test_nt"
            // out = "test.blastn.nt.tax.outfmt6"
            outDir = "blastn-tax-test"
            chunkSize = 10
            // outfmtString = "6 std stitle staxids sscinames scomnames sskingdoms"
            outCols = "std stitle staxids sscinames scomnames sskingdoms"
            app = 'blastn'
        }
    }
    test_p {
        params {
            query = "${projectDir}/test/test.pep.faa"
            db = "${projectDir}/test/test_nr"
            // out = "test.blastp.nr.outfmt6"
            outDir = "blastp-test"
            chunkSize = 10
            app = 'blastp'
        }
    }
    test_p_tax {
        params {
            query = "${projectDir}/test/test.pep.faa"
            db = "${projectDir}/test/test_nr"
            out = "test.blastp.nr.tax.outfmt6"
            outDir = "blastp-tax-test"
            outCols = "std stitle staxids sscinames scomnames sskingdoms"
            // outfmtString = "6 std stitle staxids sscinames scomnames sskingdoms"
            chunkSize = 10
            app = 'blastp'
        }
    }
    test_d {
        params {
            query = "${projectDir}/test/test.pep.faa"
            db = "${projectDir}/test/test_nr.dmnd"
            // outfmtString = "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
            outCols = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
            // out = "test.diamond_blastp.nr.outfmt6"
            outDir = "diamond-blastp-test"
            chunkSize = 10
            app = 'diamond blastp'
            diamondOpts = '--fast -e 1e-10 -k 10'
        }
    }
    test_d_tax {
        params {
            query = "${projectDir}/test/test.pep.faa"
            db = "${projectDir}/test/test_nr.dmnd"
            // outfmtString = "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore stitle staxids sscinames skingdoms sphylums"
            outCols = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore stitle staxids sscinames skingdoms sphylums"
            // out = "test.diamond_blastp.nr.tax.outfmt6"
            outDir = "diamond-blastp-tax-test"
            chunkSize = 10
            app = 'diamond blastp'
            diamondOpts = '--fast -e 1e-10 -k 10'
        }
   }
  }
  process {
        errorStrategy = { task.exitStatus in [143,140,137,104,134,139,271] ? 'retry' : 'finish' }
        maxRetries = 4

        withLabel: 'diamond' {
          cpus = { check_max( 10 + (2* task.attempt), 'cpus' ) }
          memory = { check_max( 24.GB + (8.GB * task.attempt), 'memory' ) }
          time = { check_max( 4.h + (2.h* task.attempt), 'time' ) }
          container = 'buchfink/diamond:version2.1.12'
          // container = 'nanozoo/diamond:2.1.10--60e36a4'
          conda = 'bioconda::diamond=2.1.12'
        }
        withLabel: 'blast' {
          cpus = { check_max( 6 + (2 * task.attempt), 'cpus' ) }
          memory = { check_max( 24.GB + (8.GB * task.attempt), 'memory' ) }
          time = { check_max( 15.h + (5.h * task.attempt), 'time' ) }
//          container = 'ncbi/blast:latest'
          container = 'ncbi/blast:2.16.0'
          conda = 'bioconda::blast=2.16.0'
        }

        withLabel:'sc_medium' {
          cpus = { check_max( 1, 'cpus' ) }
          memory = { check_max( 8.GB + (4.GB * task.attempt), 'memory' ) }
          time = { check_max( 6.h + (2.h * task.attempt), 'time' ) }
        }
        
        withName: 'blast' {
          cpus = { check_max( 8 + (2 * task.attempt), 'cpus' ) }
          memory = { params.db in ["nt", "nr"] ? check_max( 60.GB + (12.GB * task.attempt), 'memory' ) : check_max( 36.GB + (12.GB * task.attempt), 'memory' ) }
          time = { check_max( 45.h + (15.h * task.attempt), 'time' ) }

        }
        withName: 'diamond_prep_tax_db' {
            time = { check_max( 7.h + (3.h * task.attempt), 'time' ) }
        }

        withName: 'download_tax_db' {
          cpus = { check_max( 4 + (2 * task.attempt), 'cpus' ) }
          memory = { check_max( 12.GB + (4.GB * task.attempt), 'memory' ) }
          time = { check_max( 10.h + (2.h * task.attempt), 'time' ) }
//          container = 'andrey01/aria2c:latest'
//          container = 'hsiaoshun/aria2c:1.37.0'
	        container = 'p3terx/aria2-pro'
          conda = 'conda-forge::aria2'
//	  shell = ['/bin/sh']
        }

    }

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-Eeuo', 'pipefail']

//
executor {
  queueSize = 50
  submitRateLimit = '10 sec'
}

timeline {
  enabled = false
  file = "${params.outDir}/${manifest.name}_${params.app.replaceAll(/\s/, "-")}_timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outDir}/${manifest.name}_${params.app.replaceAll(/\s/, "-")}_report.html"
}
trace {
  enabled = false
  file = "${params.outDir}/${manifest.name}_${params.app.replaceAll(/\s/, "-")}_trace.txt"
}
dag {
  enabled = false
  file = ( {nextflow.version.matches('22.04+')} ) ? "${params.outDir}/${manifest.name}_${params.app.replaceAll(/\s/, "-")}_dag.mmd" : "${params.outDir}/${manifest.name}_${params.app.replaceAll(/\s/, "-")}_dag.html"
  //file = "${params.outDir}/${params.tracedir}/${workflow.manifest.name}_${params.app}_dag.html"
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}

